@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.form-container, .table-container {
  margin: 5vh auto 10vh auto;
  max-width: 75vh;
}

 .task-title {
  text-align: center;
  color: #00bbf9 ;

 }

 .login-btn {
  background: #9b5de5;
   border: 2px solid white;
 }

 .navBar {
  background-color: #f15bb5 !important;
 }

 .table-hover tbody tr:hover td {
  background: #00f5d4;
  color: white;
  font-weight: 600;
}

.table {
  --bs-table-striped-bg: #fee440 !important;
}